@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #141414;
    color: #F5F5DC;
    width: 100%;
    height: 100%;
}

/* Main */
.Main {
    position: absolute;
    margin: 30px;
    z-index: 2;
    cursor: pointer;
}
/* End Main */

/* Title  */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Carter One', cursive;
    transition: all 0.5s ease;
}

.title:hover {
    color: #DCD2FF;
}
/* End Title  */

/* Title Contact */
.title-content {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Carter One', cursive;
    transition: all 0.5s ease;
}

.title-content:hover {
    color: #DCD2FF;
}
/* End Title Contact*/

/* Text */
.text {
    position: absolute;
    width: 300px;
    height: 40vh;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 13px;
    background-color: #F5F5DC;
    border-radius: 20px;
    text-align: center;
    color: #141414;
    font-family: 'Carter One', cursive;
    padding: 20px;
    transform-origin: center top;
    transition: width 0.5s ease-out , height 0.5s ease-out , font-size 0.2s ease-out;
}

.text img {
    width: 45px;
}

.text:hover {
    font-size: 15px;
    width: 400px;
    height: 50vh;
}

.text #text {
    font-size: 16px;
}
/* End Text */

/* Text Contact */
.text-contact {
    position: absolute;
    width: 300px;
    height: 30vh;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 13px;
    background-color: #F5F5DC;
    border-radius: 20px;
    text-align: center;
    color: #141414;
    font-family: 'Carter One', cursive;
    padding: 20px;
    transform-origin: center top;
    transition: width 0.5s ease-out , height 0.5s ease-out , font-size 0.2s ease-out;
}

.text-contact img {
    width: 45px;
}

.text-contact:hover {
    font-size: 15px;
    width: 400px;
    height: 40vh;
}
/* End Text Contact */

/* Menu Bar */
.Menu {
    width: 200px;
    height: 100%;
    background: #F5F5DC;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left 0.5s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.3);
    font-family: 'Dongle', sans-serif;
}

.Menu-item {
    transition: all 0.5s ease;
}

.Menu-item a {
    color: #141414;
    font-size: 40px;
    font-weight: 500;
}

.Menu-item:first-child {
    margin-top: 100px;
}

.Menu--open {
    left: 0;
}

.Menu-item {
    color: #F5F5DC;
    padding: 1.8rem;
}

.Menu-item:hover {
    transform: translate3d(0 , -5px, -5px);
}
/* End Menu Bar */

/* Icon Menu */
.Line {
    width: 50px;
    height: 5px;
    background: #F5F5DC;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.5);
}
/* Icon Menu */

.image-profile img {
    width: 80px;
    border-radius: 50%;
}

/* Icon Next Page */
.next-page {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 80%;
    left: 90%;
    transform: translate(-50%);
    padding: 20px;
}

.next-page a img {
    width: 40px;
}
/* Icon Next Page */

/* Contact btn */
.content-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    width: 500px;
    height: 150px;
    align-items: center;
    border-radius: 30px;
    transform-origin: center top;
    transition: all 0.6s ease-out;
}

.content-btn li {
    padding: 0 50px;
    text-align: center;
}

.content-btn li a span{
    font-size: 20px;
    transition: all 0.2s ease;
    font-family: 'Dongle', sans-serif;
}

.content-btn li a img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.content-btn li a img:hover {
    transform: translateY(-10px);
}
/* End Contact btn */

/* Contact Popup */
#popup {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

#popupText {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #F0EFFF;
    color: #141414;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#popupText::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

#popup:hover #popupText {
    top: -140%;
    visibility: visible;
    opacity: 1;
}
/* End Contact Popup */